Current Version: <span id="version">0</span><br /><br />
Commit: <input type="text" id="commitMessage" /><button id="commit" onclick="commitDeck()">Commit</button>
<br />
<br />

Sideboard:
<input type="checkbox" id="sideboard-check" name="sideboard" /><br /><br />

Cardpool: <br />
<div id="cards" class="card-list">

</div>

Equipment: <br />
<div id="equipment" class="card-list">
    
</div>

Attack Actions: <br />
<div id="attack-action" class="card-list">
    
</div>

Non Attack Actions: <br />
<div id="non-attack-action" class="card-list">
    
</div>

Instant: <br />
<div id="instant" class="card-list">

</div>

<br />
<hr>
<br />

Sideboard: <br />
<div id="sideboard" class="card-list">
    
</div>